body {
    padding-top: 120px;
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5) url("../images/banner.png") center/cover no-repeat;
    padding: 40px 20px;
    color: white;
}

.logo-block .logo {
    height: 80px;
    margin-bottom: 20px; 
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background 0.3s;
}

.main-nav a:hover {
    background-color: #388E3C;
    border-radius: 4px;
}

.btn-order {
    background-color: #FFEB3B;
    color: #333;
    border-radius: 4px;
}
.menu-toggle {
	display: none;
	font-size: 28px;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
}

/* Адаптивність для телефонів */
@media (max-width: 768px) {
    .menu-toggle {
	    display: block;
    }
    .main-nav {
	    display: none;
	    width: 100%;
    }
    .main-nav.active {
	    display: block;
    }
    .main-nav ul {
	    flex-direction: column;
	    width: 100%;
    }
    .main-nav a {
	    display: block;
	    width: 100%;
	    padding: 12px;
	    text-align: left;
    }
}
section {
    padding: 20px;
}

.item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
/*Контейнер для відео (адаптивний0 */
.video-conteiner {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 8px;
    margin: 15px 0;
}
.videocontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;    
}
/*кнопка для google drive*/
.btn-drive {
    display: inline-block;
    background-color: #4CAF50; 
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
}
.btn-drive:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}
